name: ci

on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: "0 */4 * * *"

permissions:
      contents: write

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: commit
        run: |
          git config --local user.email "2392706836@qq.com"
          git config --local user.name "wlm3201"
          git remote set-url origin https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git pull --rebase
          git commit --allow-empty -m "0"
          git push
